*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#fff;
    padding:40px;
    font-size:20px;
}

form{
    width:1100px;
    margin:auto;
}

fieldset{
    border:1px solid #bbb;
    border-radius:6px;
    padding:15px 20px 20px;
    margin-bottom:18px;
}

legend{
    padding:0 8px;
    font-size:20px;
}

.form-group{
    display:flex;
    align-items:flex-start;
    margin:14px 0;
}

.form-group label:first-child{
    width:310px;
    font-size:20px;
}

input[type=text],
input[type=number],
input[type=email],
select{
    width:260px;
    padding:8px;
    font-size:20px;
}

textarea{
    width:850px;
    height:150px;
    resize:none;
    padding:10px;
    font-size:20px;
}

.inline{
    display:flex;
    gap:25px;
    align-items:center;
    flex-wrap:wrap;
}

.inline label{
    width:auto !important;
    font-size:20px;
}

input[type=checkbox],
input[type=radio]{
    margin-right:5px;
}

.submit-area{
    text-align:right;
}

button{
    background:#001dff;
    color:white;
    border:none;
    padding:10px 24px;
    font-size:20px;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#0013b5;
}